<div class="form-group">
  <label for="<%= id %>"><%= name %></label>
  <div class="input-group date" id="<%= id %>">
    <input type="text" class="form-control" />
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>
</div>