<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">WLTM</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse ">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if active == 'home' %>">
          <a href="/">Home</a>
        </li>
        <li class="<%= 'active' if active== 'how-to' %>">
          <a href="/how-to">How-To</a>
        </li>
        <li class="<%= 'active' if active == 'history' %> ">
          <a href="/history">History</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a href="https://www.waltermelon.club">www.</a>
        </li>
        <li class="">
          <a href="https://radio.waltermelon.club">radio.</a>
        </li>
        <li class="">
          <a href="https://share.waltermelon.club">share.</a>
        </li>
      </ul>
    </div>
  </div>
</nav>