<%= render 'navigation', active: 'history' %>

<div class="container">
  <h2>Currently Playing</h2>
  <p data-bind="visible: currentTrack() == null">
    <span class="glyphicon glyphicon-refresh spinning"></span>
    Loading Current Track
  </p>
  <div class="panel panel-default history-item" data-bind="visible: currentTrack(), with: currentTrack">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-9">
          <h4>
            <span data-bind="text: track.artist"></span> |
            <span data-bind="text: track.album"></span> |
            <span data-bind="text: track.title"></span>
          </h4>
          <p>
            <span class="label label-primary"><span class="glyphicon glyphicon-arrow-up"></span> <span data-bind="text: track.uploader"></span></span>
            <span class="label label-primary"><span class="glyphicon glyphicon-time"></span> <span data-bind="text: track.length"></span></span>
            <span class="label label-primary"><span class="glyphicon glyphicon-play"></span> <span data-bind="text: on_behalf_of"></span></span>
            <!-- <span class="label label-primary"><span class="glyphicon glyphicon-stats"></span> 16</span> -->
          </p>
        </div>
        <div class="col-sm-3">
          <a class="btn btn-primary btn-block" data-bind="visible: track.download_link != null, attr:{href: track.download_link}">Download Track</a>
          <a class="btn btn-primary btn-block" data-bind="visible: track.folder_download_link != null, attr:{href: track.folder_download_link}">Download Folder</a>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <h2>Playback History</h2>

  <!--<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">History Search</h3>
    </div>
    <div class="panel-body">
      <div class="row">

        <form class="form-inline">
          <div class="col-sm-3">Showing History</div>
          <div class="col-sm-9 text-right">
            <div class="form-group">
              <%= render 'datetimepicker', id: 'startDate', name: 'From' %>
            </div>
            <div class="form-group">
              <%= render 'datetimepicker', id: 'endDate', name: 'To' %>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>-->

  <p data-bind="visible: historyRecords() == null">
    <span class="glyphicon glyphicon-refresh spinning"></span>
    Loading History
  </p>
  <p data-bind="visible: historyRecords() && historyRecords().length == 0">
    No playback history for this time frame
  </p>

  <div data-bind="visible: historyRecords(), foreach: historyRecords">
    <div class="panel panel-default history-item">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-9">
            <h4>
              <span data-bind="text: track.artist"></span> |
              <span data-bind="text: track.album"></span> |
              <span data-bind="text: track.title"></span>
            </h4>
            <p>
              <span data-bind="text: formatDate(played_time)"></span>
              <span class="text-muted">
                (<span data-bind="text: formatFriendlyTime(played_time)"></span>)
              </span>
            </p>
            <p>
              <span class="label label-primary"><span class="glyphicon glyphicon-arrow-up"></span> <span data-bind="text: track.uploader"></span></span>
              <span class="label label-primary"><span class="glyphicon glyphicon-time"></span> <span data-bind="text: track.length"></span></span>
              <span class="label label-primary"><span class="glyphicon glyphicon-play"></span> <span data-bind="text: on_behalf_of"></span></span>
              <!-- <span class="label label-primary"><span class="glyphicon glyphicon-stats"></span> 16</span> -->
            </p>
          </div>
          <div class="col-sm-3">
            <a class="btn btn-primary btn-block" data-bind="visible: track.download_link != null, attr:{href: track.download_link}">Download Track</a>
            <a class="btn btn-primary btn-block" data-bind="visible: track.folder_download_link != null, attr:{href: track.folder_download_link}">Download Folder</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <button class="btn btn-success" data-bind="click: loadMore">Load More</button>
  </div>
</div>

<%= javascript_include_tag 'ko_history' %>