
<div class="container-full-bg">
  <div class="container special">
    <div class="jumbotron">
      <h1>WLTM</h1>
      <p>walter melon radio is the place to hear everyone's music.</p>
      <p data-bind="if: mpdStatus">
        Currently Playing:
        <span data-bind="text: mpdStatus().current_track"></span>
        <span class="label label-default" data-bind="text: mpdStatus().who"></span>
      </p>
    </div>
  </div>
</div>

<div class="container">
<h2>Tune In</h2>
<div class="row">
  <div class="col-lg-6 col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">High Quality OGG</h3>
      </div>
      <div class="panel-body">
        <a href="http://waltermelon.club:8000/wltm.hi.ogg.m3u" class="btn btn-primary btn-block">M3U Playlist</a>
        <a href="http://waltermelon.club:8000/wltm.hi.ogg.xspf" class="btn btn-primary btn-block">XSPF Playlist</a>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Med Quality OGG</h3>
      </div>
      <div class="panel-body">
        <a href="http://waltermelon.club:8000/wltm.lo.ogg.m3u" class="btn btn-primary btn-block">M3U Playlist</a>
        <a href="http://waltermelon.club:8000/wltm.lo.ogg.xspf" class="btn btn-primary btn-block">XSPF Playlist</a>
      </div>
    </div>
  </div>
</div>

<h2>System Status</h2>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">File Share</h3>
      </div>
      <div class="panel-body">
        <!-- ko if: !fileShareStatus() -->
        <span class="glyphicon glyphicon-refresh"></span>
        Loading...
        <!-- /ko -->
        <!-- ko if: fileShareStatus -->
            <span class="glyphicon glyphicon-ok ok-status" data-bind="visible: fileShareStatus().inuse_percent < 75"></span>
            <span class="glyphicon glyphicon-asterisk warn-status" data-bind="visible: fileShareStatus().inuse_percent >= 75 && fileShareStatus().inuse_pecent < 95"></span>
            <span class="glyphicon glyphicon-remove" data-bind="visible: fileShareStatus().inuse_percent >= 95"></span>
            <span data-bind="text: fileShareStatus().inuse_gb"></span> /
            <span data-bind="text: fileShareStatus().total_gb"></span> GB Used
            (<span data-bind="text: fileShareStatus().free_percent"></span>% Free)
        <!-- /ko -->
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">MPD</h3>
      </div>
      <div class="panel-body">
        <!-- ko if: !mpdStatus() -->
          <span class="glyphicon glyphicon-refresh"></span>
          Loading...
        <!-- /ko -->
        <div class="row" data-bind="if: mpdStatus">
          <div class="col-xs-6">
            <!-- ko if: mpdStatus().is_running -->
            <span class="glyphicon glyphicon-ok ok-status"></span>
            <span class="ok-status">Running</span>
            <!-- /ko -->
            <!-- ko if: !mpdStatus().is_running -->
            <span class="glyphicon glyphicon-remove not-ok-status"></span>
            <span class="not-ok-status">Not Running</span>
            <!-- /ko -->
          </div>
          <div class="col-xs-6">
            <!-- ko if: !mpdStatus().queue_size || mpdStatus().queue_size > 2 || mpdStatus().queue_size < 1 -->
              <span class="glyphicon glyphicon-remove not-ok-status"></span>
              <span class="not-ok-status">Queue Unhealthy</span>
            <!-- /ko -->
            <!-- ko ifnot: !mpdStatus().queue_size || mpdStatus().queue_size > 2 || mpdStatus().queue_size < 1 -->
              <span class="glyphicon glyphicon-remove not-ok-status"></span>
              <span class="not-ok-status">Queue Unhealthy</span>
            <!-- /ko -->
            (<span data-bind="text: mpdStatus().queue_length"></span>)
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Icecast</h3>
      </div>
      <div class="panel-body">
        <!-- ko if: !icecastStatus() -->
          <span class="glyphicon glyphicon-refresh"></span>
          Loading...
        <!-- /ko -->
        <div class='row' data-bind='if: icecastStatus'>
          <div class="col-xs-6">
            <!-- ko if: icecastStatus().is_running -->
              <span class="glyphicon glyphicon-ok ok-status"></span>
              <span class="ok-status">Running</span>
            <!-- /ko -->
            <!-- ko if: !icecastStatus().is_running -->
              <span class="glyphicon glyphicon-remove not-ok-status"></span>
              <span class="not-ok-status">Not Running</span>
            <!-- /ko -->
          </div>
          <div class="col-xs-6">
            <!-- ko if: icecastStatus().connection_ratio < 0.9 -->
              <span class="glyphicon glyphicon-ok ok-status"></span>
              <span class="ok-status">
                <span data-bind="text: icecastStatus().current_listeners"></span> /
                <span data-bind="text: icecastStatus().max_listeners == null ? '&infin;' : icecastStatus().max_listeners"></span> Listeners
              </span>
            <!-- /ko -->
            <!-- ko if: icecastStatus().connection_ratio >= 0.9 -->
              <span class="glyphicon glyphicon-asterisk warn-status"></span>
              <span class="warn-status">
                <span data-bind="text: icecastStatus().current_listeners"></span> /
                <span data-bind="text: icecastStatus().max_listeners == null ? '&infin;' : icecastStatus().max_listeners"></span> Listeners
              </span>
            <!-- /ko -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<% javascript_tag 'ko_index' %>