// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootswatch/darkly/variables";
@import "bootstrap";

body { padding-top: 60px; }
html, body {height:100%; width:100%}

@import "bootswatch/darkly/bootswatch";
.ok-status { color: $brand-success; }
.warn-status { color: $brand-warning; }
.not-ok-status { color: $brand-danger; }

.audio-player {
  margin-top: 5px;
  padding-left: 15px;
  padding-right: 15px;

  audio {
    width: 100%;
    padding-top: 7px;
    padding-bottom: 6px;
  }
}

.spinning {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 2000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
