// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootswatch/darkly/variables";
@import "bootstrap";

body { padding-top: 60px; }
html, body {height:100%; width:100%}

@import "bootswatch/darkly/bootswatch";
.ok-status { color: $brand-success; }
.warn-status { color: $brand-warning; }
.not-ok-status { color: $brand-danger; }

.audio-player {
  margin-top: 5px;
  padding-left: 15px;
  padding-right: 15px;

  audio {
    width: 100%;
    padding-top: 7px;
    padding-bottom: 6px;
  }
}
