
.container-full-bg {
  width: 100%;
  height: 400px;
  max-width: 100%;
  background-size: cover;
  background: asset-url("background.jpg") center;
}

.container-full-bg .container, .container-full-bg .container .jumbotron {
  height: 400px;
}

.jumbotron {
  color: white;
  text-shadow: #444 0 1px 1px;
  background-color: inherit;
}

.history-item {
  h4 {
    margin-top: 0;
  }
  p {
    margin-bottom: 0;
  }
  a.btn {
    margin-top: 5px;
    margin-left: 5px;
  }
}

